View<br>
Name: {{model.room.name}}

<div class="messages">
<ul>
  {{render 'messages' model.messages}}
</ul>
</div>
<div class="message-create">
  <form {{action "sendMessage" on="submit"}}>
    {{input value=model.newText type="text"}}
    <button type="submit">Send</button>
  </form>
</div>
