<div class="header">
  <div class="header-menu">
    {{#link-to 'notification'}}Back{{/link-to}}
  </div>
</div>

<div class="content">
  <h4>Read notifications</h4>
  <ul>
  {{#each model.notifications as |notification|}}
    <li>
      {{notification.title}} <br>
      {{notification.text}}
    </li>
  {{/each}}
  </ul>
</div>