{{#each}}
  <div class="{{messageClass}}">
    <span class="avatar-small cursor-pointer">
      {{#link-to 'user.view' creator.id}}
        {{user-avatar user=creator imgWidth='40'}}
      {{/link-to}}
    </span>
    <span class="message">{{{content}}}</span>
    <div class="message-footer">
      <span class="createdAt">
        {{moment-from-now createdAt interval=2000}}
      </span>
    </div>
  </div>
{{/each}}